.grid-flex {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.grid-flex .grid-item-content { width: 100%; }

.grid-flex > grid-item {
	flex-grow: 0;
	flex-shrink: 1;
}
.grid-flex.columns-2 > .grid-item--width1 { flex-basis: 50%; }
.grid-flex.columns-2 > .grid-item--width2 { flex-basis: 100%; }

.grid-flex.columns-3 > .grid-item--width1 { flex-basis: 33.333%; }
.grid-flex.columns-3 > .grid-item--width2 { flex-basis: 66.666%; }
.grid-flex.columns-3 > .grid-item--width3 { flex-basis: 100%; }

.grid-flex.columns-4 > .grid-item--width1 { flex-basis: 25%; }
.grid-flex.columns-4 > .grid-item--width2 { flex-basis: 50%; }
.grid-flex.columns-4 > .grid-item--width3 { flex-basis: 75%; }
.grid-flex.columns-4 > .grid-item--width4 { flex-basis: 100%; }

.grid-flex.columns-5 > .grid-item--width1 { flex-basis: 20%; }
.grid-flex.columns-5 > .grid-item--width2 { flex-basis: 40%; }
.grid-flex.columns-5 > .grid-item--width3 { flex-basis: 60%; }
.grid-flex.columns-5 > .grid-item--width4 { flex-basis: 80%; }
.grid-flex.columns-5 > .grid-item--width5 { flex-basis: 100%; }

.grid-flex.columns-12 > .grid-item--width1 { flex-basis: 8.333%; }
.grid-flex.columns-12 > .grid-item--width2 { flex-basis: 16.666%; }
.grid-flex.columns-12 > .grid-item--width3 { flex-basis: 25%; }
.grid-flex.columns-12 > .grid-item--width4 { flex-basis: 33.333%; }
.grid-flex.columns-12 > .grid-item--width5 { flex-basis: 41.666%; }
.grid-flex.columns-12 > .grid-item--width6 { flex-basis: 50%; }
.grid-flex.columns-12 > .grid-item--width7 { flex-basis: 58.333%; }
.grid-flex.columns-12 > .grid-item--width8 { flex-basis: 66.666%; }
.grid-flex.columns-12 > .grid-item--width9 { flex-basis: 75%; }
.grid-flex.columns-12 > .grid-item--width10 { flex-basis: 83.333%; }
.grid-flex.columns-12 > .grid-item--width11 { flex-basis: 91.666%; }
.grid-flex.columns-12 > .grid-item--width12 { flex-basis: 100%; }