.grid-cols {
	width: 100%;
	column-gap: 0;
}

.grid-cols .grid-item-content { width: 100%; }

.grid-cols.gap-small { column-gap: 6px; }
.grid-cols.gap-medium { column-gap: 12px; }
.grid-cols.gap-large { column-gap: 18px; }

.grid-cols.columns-1 { columns: 1; }
.grid-cols.columns-2 { column-count: 2; }
.grid-cols.columns-3 { column-count: 3; }
.grid-cols.columns-4 { column-count: 4; }
.grid-cols.columns-5 { column-count: 5; }
.grid-cols.columns-12 { column-count: 12; }

.grid-cols > .grid-item {
	display: block;
	break-inside: avoid;
	width: 100%;
}
