.wcl-msry { width: 100%; }

.wcl-msry > .wcl-msry-gutter { width:0;}
.wcl-msry > .wcl-msry-sizer { width:100%;}

.wcl-msry.wcl-cols-12 > .wcl-msry-sizer { width: 8.333%; }
.wcl-msry.wcl-cols-12 > .wcl-item { width: 8.333%; }

/** Extra small devices (portrait phones, less than 576px) */
/** No media query since this is the default */
.wcl-msry.wcl-cols-12 > .wcl-col-1 { width: 8.333%; }
.wcl-msry.wcl-cols-12 > .wcl-col-2 { width: 16.666%; }
.wcl-msry.wcl-cols-12 > .wcl-col-3 { width: 25%; }
.wcl-msry.wcl-cols-12 > .wcl-col-4 { width: 33.333%; }
.wcl-msry.wcl-cols-12 > .wcl-col-5 { width: 41.666%; }
.wcl-msry.wcl-cols-12 > .wcl-col-6 { width: 50%; }
.wcl-msry.wcl-cols-12 > .wcl-col-7 { width: 58.333%; }
.wcl-msry.wcl-cols-12 > .wcl-col-8 { width: 66.666%; }
.wcl-msry.wcl-cols-12 > .wcl-col-9 { width: 75%; }
.wcl-msry.wcl-cols-12 > .wcl-col-10 { width: 83.333%; }
.wcl-msry.wcl-cols-12 > .wcl-col-11 { width: 91.666%; }
.wcl-msry.wcl-cols-12 > .wcl-col-12 { width: 100%; }

/** Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.wcl-msry.wcl-cols-12 > .wcl-col-sm-1 { width: 8.333%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-sm-2 { width: 16.666%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-sm-3 { width: 25%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-sm-4 { width: 33.333%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-sm-5 { width: 41.666%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-sm-6 { width: 50%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-sm-7 { width: 58.333%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-sm-8 { width: 66.666%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-sm-9 { width: 75%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-sm-10 { width: 83.333%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-sm-11 { width: 91.666%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-sm-12 { width: 100%; }
}

/** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.wcl-msry.wcl-cols-12 > .wcl-col-md-1 { width: 8.333%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-md-2 { width: 16.666%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-md-3 { width: 25%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-md-4 { width: 33.333%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-md-5 { width: 41.666%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-md-6 { width: 50%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-md-7 { width: 58.333%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-md-8 { width: 66.666%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-md-9 { width: 75%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-md-10 { width: 83.333%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-md-11 { width: 91.666%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-md-12 { width: 100%; }
}

/** Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.wcl-msry.wcl-cols-12 > .wcl-col-lg-1 { width: 8.333%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-lg-2 { width: 16.666%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-lg-3 { width: 25%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-lg-4 { width: 33.333%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-lg-5 { width: 41.666%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-lg-6 { width: 50%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-lg-7 { width: 58.333%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-lg-8 { width: 66.666%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-lg-9 { width: 75%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-lg-10 { width: 83.333%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-lg-11 { width: 91.666%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-lg-12 { width: 100%; }
}

/** Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.wcl-msry.wcl-cols-12 > .wcl-col-xl-1 { width: 8.333%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-xl-2 { width: 16.666%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-xl-3 { width: 25%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-xl-4 { width: 33.333%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-xl-5 { width: 41.666%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-xl-6 { width: 50%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-xl-7 { width: 58.333%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-xl-8 { width: 66.666%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-xl-9 { width: 75%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-xl-10 { width: 83.333%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-xl-11 { width: 91.666%; }
	.wcl-msry.wcl-cols-12 > .wcl-col-xl-12 { width: 100%; }
}
