.wcl-flex {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.wcl-flex > wcl-item {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 100%;
}

.wcl-flex.wcl-direction-h { flex-direction: row; }
.wcl-flex.wcl-direction-h.wcl-reverse { flex-direction: row-reverse; }
.wcl-flex.wcl-direction-v { flex-direction: column; }
.wcl-flex.wcl-direction-v.wcl-reverse { flex-direction: column-reverse; }
.wcl-flex.wcl-wrap { flex-wrap: wrap; }
.wcl-flex.wcl-nowrap { flex-wrap: nowrap; }

/** Media queries. */
/** These styles invoke from XS down to XL (Mobile First) */

/** No media query since this is the default */
/** Extra small devices (portrait phones, less than 576px) */

.wcl-flex.wcl-cols-1 > .wcl-item { flex-basis: 100%; }
.wcl-flex.wcl-cols-1 > .wcl-col-1 { flex-basis: 100%; }

.wcl-flex.wcl-cols-2 > .wcl-item { flex-basis: 50%; }
.wcl-flex.wcl-cols-2 > .wcl-col-1 { flex-basis: 50%; }
.wcl-flex.wcl-cols-2 > .wcl-col-2 { flex-basis: 100%; }

.wcl-flex.wcl-cols-3 > .wcl-item { flex-basis: 33.333%; }
.wcl-flex.wcl-cols-3 > .wcl-col-1 { flex-basis: 33.333%; }
.wcl-flex.wcl-cols-3 > .wcl-col-2 { flex-basis: 66.666%; }
.wcl-flex.wcl-cols-3 > .wcl-col-3 { flex-basis: 100%; }

.wcl-flex.wcl-cols-12 > .wcl-item { flex-basis: 8.333%; }
.wcl-flex.wcl-cols-12 > .wcl-col-1 { flex-basis: 8.333%; }
.wcl-flex.wcl-cols-12 > .wcl-col-2 { flex-basis: 16.666%; }
.wcl-flex.wcl-cols-12 > .wcl-col-3 { flex-basis: 25%; }
.wcl-flex.wcl-cols-12 > .wcl-col-4 { flex-basis: 33.333%; }
.wcl-flex.wcl-cols-12 > .wcl-col-5 { flex-basis: 41.666%; }
.wcl-flex.wcl-cols-12 > .wcl-col-6 { flex-basis: 50%; }
.wcl-flex.wcl-cols-12 > .wcl-col-7 { flex-basis: 58.333%; }
.wcl-flex.wcl-cols-12 > .wcl-col-8 { flex-basis: 66.666%; }
.wcl-flex.wcl-cols-12 > .wcl-col-9 { flex-basis: 75%; }
.wcl-flex.wcl-cols-12 > .wcl-col-10 { flex-basis: 83.333%; }
.wcl-flex.wcl-cols-12 > .wcl-col-11 { flex-basis: 91.666%; }
.wcl-flex.wcl-cols-12 > .wcl-col-12 { flex-basis: 100%; }


/** Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.wcl-flex.wcl-cols-2 > .wcl-col-sm-1 { flex-basis: 50%; }
	.wcl-flex.wcl-cols-2 > .wcl-col-sm-2 { flex-basis: 100%; }

	.wcl-flex.wcl-cols-3 > .wcl-col-sm-1 { flex-basis: 33.333%; }
	.wcl-flex.wcl-cols-3 > .wcl-col-sm-2 { flex-basis: 66.666%; }
	.wcl-flex.wcl-cols-3 > .wcl-col-sm-3 { flex-basis: 100%; }

	.wcl-flex.wcl-cols-12 > .wcl-col-sm-1 { flex-basis: 8.333%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-sm-2 { flex-basis: 16.666%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-sm-3 { flex-basis: 25%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-sm-4 { flex-basis: 33.333%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-sm-5 { flex-basis: 41.666%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-sm-6 { flex-basis: 50%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-sm-7 { flex-basis: 58.333%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-sm-8 { flex-basis: 66.666%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-sm-9 { flex-basis: 75%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-sm-10 { flex-basis: 83.333%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-sm-11 { flex-basis: 91.666%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-sm-12 { flex-basis: 100%; }
}

/** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.wcl-flex.wcl-cols-2 > .wcl-col-md-1 { flex-basis: 50%; }
	.wcl-flex.wcl-cols-2 > .wcl-col-md-2 { flex-basis: 100%; }

	.wcl-flex.wcl-cols-3 > .wcl-col-md-1 { flex-basis: 33.333%; }
	.wcl-flex.wcl-cols-3 > .wcl-col-md-2 { flex-basis: 66.666%; }
	.wcl-flex.wcl-cols-3 > .wcl-col-md-3 { flex-basis: 100%; }

	.wcl-flex.wcl-cols-12 > .wcl-col-md-1 { flex-basis: 8.333%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-md-2 { flex-basis: 16.666%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-md-3 { flex-basis: 25%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-md-4 { flex-basis: 33.333%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-md-5 { flex-basis: 41.666%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-md-6 { flex-basis: 50%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-md-7 { flex-basis: 58.333%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-md-8 { flex-basis: 66.666%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-md-9 { flex-basis: 75%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-md-10 { flex-basis: 83.333%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-md-11 { flex-basis: 91.666%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-md-12 { flex-basis: 100%; }
}

/** Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.wcl-flex.wcl-cols-2 > .wcl-col-lg-1 { flex-basis: 50%; }
	.wcl-flex.wcl-cols-2 > .wcl-col-lg-2 { flex-basis: 100%; }

	.wcl-flex.wcl-cols-3 > .wcl-col-lg-1 { flex-basis: 33.333%; }
	.wcl-flex.wcl-cols-3 > .wcl-col-lg-2 { flex-basis: 66.666%; }
	.wcl-flex.wcl-cols-3 > .wcl-col-lg-3 { flex-basis: 100%; }

	.wcl-flex.wcl-cols-12 > .wcl-col-lg-1 { flex-basis: 8.333%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-lg-2 { flex-basis: 16.666%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-lg-3 { flex-basis: 25%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-lg-4 { flex-basis: 33.333%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-lg-5 { flex-basis: 41.666%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-lg-6 { flex-basis: 50%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-lg-7 { flex-basis: 58.333%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-lg-8 { flex-basis: 66.666%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-lg-9 { flex-basis: 75%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-lg-10 { flex-basis: 83.333%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-lg-11 { flex-basis: 91.666%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-lg-12 { flex-basis: 100%; }
}

/** Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.wcl-flex.wcl-cols-2 > .wcl-col-xl-1 { flex-basis: 50%; }
	.wcl-flex.wcl-cols-2 > .wcl-col-xl-2 { flex-basis: 100%; }

	.wcl-flex.wcl-cols-3 > .wcl-col-xl-1 { flex-basis: 33.333%; }
	.wcl-flex.wcl-cols-3 > .wcl-col-xl-2 { flex-basis: 66.666%; }
	.wcl-flex.wcl-cols-3 > .wcl-col-xl-3 { flex-basis: 100%; }

	.wcl-flex.wcl-cols-12 > .wcl-col-xl-1 { flex-basis: 8.333%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-xl-2 { flex-basis: 16.666%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-xl-3 { flex-basis: 25%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-xl-4 { flex-basis: 33.333%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-xl-5 { flex-basis: 41.666%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-xl-6 { flex-basis: 50%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-xl-7 { flex-basis: 58.333%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-xl-8 { flex-basis: 66.666%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-xl-9 { flex-basis: 75%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-xl-10 { flex-basis: 83.333%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-xl-11 { flex-basis: 91.666%; }
	.wcl-flex.wcl-cols-12 > .wcl-col-xl-12 { flex-basis: 100%; }
}
