<div class="grid-item" id="{{wc.id}}" data-w="1" data-h="1">
    <div class="grid-item-content">
        <div class="resize resize-west"/>
        <div class="resize resize-south"/>
        <div class="resize resize-east"/>
        {{section}}
    </div>
</div>